<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        IgnorableNamespaces="uap rescap">

    <Identity
            Name="2413Dearain.Polymerium"
            Publisher="CN=11C5722E-21B2-4CEC-984F-6BC6DC620005"
            Version="0.0.1.0"/>

    <mp:PhoneIdentity PhoneProductId="962c8853-9511-4780-84af-179bb352d441"
                      PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>Polymerium</DisplayName>
        <PublisherDisplayName>Dearain</PublisherDisplayName>
        <Logo>Assets\Store\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="$targetentrypoint$">
            <uap:VisualElements
                    DisplayName="Polymerium"
                    Description="Polymerium.App"
                    BackgroundColor="transparent"
                    Square150x150Logo="Assets\Store\Square150x150Logo.png"
                    Square44x44Logo="Assets\Store\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png" Square71x71Logo="Assets\Store\SmallTile.png"
                                 Square310x310Logo="Assets\Store\LargeTile.png" ShortName="Polymerium">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile >
                <uap:SplashScreen Image="Assets\Store\SplashScreen.png"/>
                <uap:LockScreen BadgeLogo="Assets\Store\BadgeLogo.png" Notification="badge"/>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust"/>
        <Capability Name="internetClient"/>
    </Capabilities>
</Package>
