# Environment
.env
.env*.local

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Cargo workspace
/target

# Node & Solidjs
/dist
/.solid
/.output
/.vercel
/.netlify
/.vinxi
/node_modules

# Panda
**/gen/schemas
styled-system
styled-system-studio

# Tauri & Specta
src/bindings.ts